RewriteEngine on
DirectoryIndex public/index.php public/index.html

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/public/

RewriteRule ^(.*)$ public/index.php?p=$1 [L]
